@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

html {
  /* font-size: 16px; */
}

@layer base {
  h1 {
    /* @apply text-lg; */
  }
  h2 {
  }
  h3 {
  }
  p {
    @apply mb-2;
  }
  li {
    @apply mb-2;
  }
}

:root {
  --bg-dark: hsl(225, 100%, 7%);
  --bg-light: hsl(0, 0%, 93%);
  --bg: hsl(0, 0%, 97%);
  --bg-image: url('/images/bg-whale-light.jpg');
  --bg-darker: hsl(0, 0%, 85%);
  --bg-lighter: hsl(0, 0%, 98%);
  --primary-text: hsl(0, 0%, 7%);
  --primary-text-2: hsl(0, 0%, 23%);
  --link: hsl(225, 100%, 20%);
  --text-danger: rgb(231, 28, 28);
  --text-warn: rgb(109, 116, 0);
  --text-secondary: hsl(277, 69%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(225, 100%, 7%);
    --bg-image: url('/images/bg-whale-dark.jpg');
    --bg-darker: hsl(225, 100%, 5%);
    --bg-lighter: hsl(225, 100%, 9%);
    --text: hsl(0, 0%, 93%);
    --link: hsl(225, 100%, 80%);
    --text-secondary: hsl(69, 100%, 47%);
    --text-warn: rgb(217, 231, 28);
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body, nav {
  background: var(--bg);
  color: var(--text);
}

nav a {
  font-weight: 400;
  @apply align-bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  color: var(--link);
  letter-spacing: 0.05rem;
}

.link-small {
  @apply text-sm;
}

* {
  box-sizing: border-box;
}

.text-secondary {
  color: var(--text-secondary);
}

.author {
  box-shadow: 0 0 2px #ececec;
  @apply p-2;
}

.guide {
  line-height: 1.8rem;
}

.guide .string {
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1.2rem;
  display: inline-block;
}

.guide p {
  @apply mb-4;
}

.guide h1, .guide h2, .guide h3 {
  @apply my-8;
}

.table {
  width: 100%;
}

.table th {
  text-align: left;
  background-color: var(--bg-darker);
  padding: 0.5rem;
}

.table .center, .table .centre, .table.centre, .table.center {
  text-align: center;
}

.tabs ul {
  @apply flex;
}

.tabs li {
  @apply mr-1 px-4 py-2;
}

.tabs li {
  background: var(--bg-darker);
  cursor: pointer;
}

.tabs li.is-active {
  /* color: var(--primary-text-2); */
  text-decoration: underline;
  background: unset;
  font-weight: 300 !important;
}

.tabs li a {
  font-weight: 400 !important;
}

.tabs li.is-active {
  font-weight: 600;
  cursor: default;
}

.warn {
  color: var(--text-warn);
}
.danger {
  color: var(--text-danger);
}

h1 {
  line-height: 1.5rem;
}

.card {
  background: rgba(0,0,0,0.1);
  @apply p-2 mb-2 rounded;
}

.card.with-img {
  @apply p-0 rounded;
  overflow: hidden;
}
.card.with-img .content {
  @apply p-2;
}

.card.warn {
  border: 1px solid var(--text-warn);
  border-radius: 0;
}

.card.danger {
  border: 1px solid var(--text-danger);
  border-radius: 0;
}

@media (prefers-color-scheme: dark) {
  /* .card {
    background: rgba(0,0,0,0.3);
  } */
  .guide .string {
    background-color: var(--bg-darker);
  }

  .home main {
    text-shadow: 3px 3px 4px #000;
  }

  .card.bordered {
    border: 1px solid #000;
  }

  .card.with-bg {
    background-color: var(--bg);
  }

  .reward.usd,
  .reward.usdc {
    @apply text-currency-usdc;
  }
  .reward.usdt {
    @apply text-green-600;
  }
  .reward.wbtc { @apply text-currency-btc; }
}

.text-avax { @apply text-currency-avax; }
.text-btc { @apply text-currency-btc; }
.text-bnb { @apply text-currency-bnb; }
.text-op { @apply text-currency-op; }
.text-eth { @apply text-currency-eth; }
.text-arb { @apply text-currency-arb; }
.text-matic { @apply text-currency-matic; }
.text-ckb { @apply text-currency-ckb; }
.text-ftm { @apply text-currency-ftm; }
.text-canto { @apply text-currency-canto; }
.text-kda { @apply text-currency-kda; }
.text-xmr { @apply text-currency-xmr; }
.text-dag { @apply text-currency-dag; }
.text-sol { @apply text-currency-sol; }
.text-ltc { @apply text-currency-ltc; }
