@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply mb-2;
  }
  li {
    @apply mb-2;
  }
}

:root {
  --bg-dark: hsl(225, 100%, 7%);
  --bg-light: hsl(0, 0%, 93%);
  --link-dark: hsl(187, 90%, 52%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--bg-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--bg-dark);
  }
  a {
    color: var(--link-dark);
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.05rem;
  }
}
